/* src/components/Service.css */
.service-container {
  max-width: 800px;
  margin: 50px auto;
}

.service-btn {
  display: inline-block;
  font-size: 15px;
  border: 3px solid rgb(255, 25, 0);
}
